/* *{
  background-color: black;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(80, 16, 104);
  margin-top: 20vh;
  margin-left: 50vh;
  
  text-decoration: underline;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  margin-top: 100%;
  margin-left: 70vh;
  margin-right: 50vh;
  
  text-decoration: underline;
}

.company{
  text-decoration: underline;
} */