body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color:red;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
