*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* index.css */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
  color: white;
}

.navbar-left h1 {
  margin: 0;
  font-size: 24px;
}

.navbar-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar-right li {
  margin-left: 20px;
}

.navbar-right a {
  color:red;
  text-decoration: none;
  font-size: 16px;
  background-color: black;
}
h1{
  background-color: #fff;
}
.comp{
  background-color:black;
}
/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    margin-top: 20px;
  }
}
p{
  color: white;
}
