
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 10px;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: black;
  border: #00ff48 1px solid ;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  
}
.navbar a company {
  text-decoration: underline;
  
}
.navbar a:hover {
  color: #007bff;
}

.navbar-left a {
  font-weight: bold;
  font-size: 24px;
}
